			/* set text settings */
			body {
				font-family: 'Quicksand', sans-serif;
			}

			div.body-text {
				font-size: 16px;
				line-height: 180%;
			}

			.calibri {
				font-family: Calibri;
			}

			/* set header image */
			#header-image {
				width: 100%;
				height: 200px;
				object-fit: cover;
			}